
body {
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: auto;
  
	background-image: url(../img/nivel3-background.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;

}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #8cb3d9;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    opacity: 0.95;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.meniu{
  background-color: transparent!important;
}

.side{
 opacity: 0.9;
}


#info{
    color: black;
    font-weight: bold;
    text-align: -webkit-center;
    background-color: #8cb3d9;
    opacity: 0.7;

}
/*
@media screen and (min-width: 600px) {
  .box-game {
    left:20%;
    width:60%;
    height:75%;
  }

  .game{
    width:100%;
    height:100%;
  }
}

@media screen and (max-width: 1200px) {
  .monster-row, .bullet-row, .student-row{
    margin-left:10px;
  }
}

@media screen and (max-width: 800px) {
  .box-game {
  	left:10%;
  }*/

#canvas{
  border-style: ridge;
  border-color: #3d89d3;
  position: absolute;
  top: 25%;
  left: 28%;
  width: 700px;
  height: 500px;
  background-color: black;

}

#noLife{
    height: 50px;
    width: 200px;
    position: absolute;
    margin-left: 37%;
    margin-top: 1%;
    color: black;
    font-weight: bold;
    text-align: -webkit-center;
    background-color:  #8cb3d9;
    border-style: ridge;
    border-color: #3d89d3;
}
#score{
    height: 50px;
    width: 200px;
    position: absolute;
    margin-left: 52%;
    margin-top: 1%;;
    color: black;
    font-weight: bold;
    text-align: -webkit-center;
    background-color:  #8cb3d9;
    border-style: ridge;
    border-color: #3d89d3;
}

#monsterLife{
    display: none;
    height: 100px;
    width: 250px;
    position: absolute;
    margin-left: 65%;
    margin-top: -0.5%;
    font-weight: bold;
}

.btn-again, .btn-next, .btn-player{
  text-decoration:none;
  display: none;
  height: 50px;
  width: 150px;
  margin: 0px;
  color: darkred;
  font-weight: bold;
  text-align: -webkit-center;
  background-color: lightgoldenrodyellow;
}