
body {
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: auto;
  background-image: url(../img/nivel2-background.png);
	/*background-color: #324554;*/
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;

}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    text-align: center;
    background-color: #848f98;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    opacity: 0.95;
    color:lightgoldenrodyellow!important;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.meniu{
  background-color: transparent!important;
}

.side{
 opacity: 0.9;
}

#info{
  color: lightgoldenrodyellow;
  font-weight: bold;
  text-align: -webkit-center;
  background-color: #687f91;
}

#canvas{
  border-style: ridge;
  border-color: #00008B;
  position: absolute;
  top: 25%;
  left: 28%;
  width: 700px;
  height: 500px;
}

#noLife{
    height: 50px;
    width: 200px;
    position: absolute;
    margin-left: 37%;
    margin-top: 1%;
    color: lightgoldenrodyellow;
    font-weight: bold;
    text-align: -webkit-center;
    background-color: #687f91;
    border-style: ridge;
    border-color: #00008B;
}

#score{
    height: 50px;
    width: 200px;
    position: absolute;
    margin-left: 52%;
    margin-top: 1%;;
    color: lightgoldenrodyellow;
    font-weight: bold;
    text-align: -webkit-center;
    background-color: #687f91;
    border-style: ridge;
    border-color: #00008B;
}

#monsterLife{
    display: none;
    height: 100px;
    width: 250px;
    position: absolute;
    margin-left: 65%;
    margin-top: -0.5%;
    font-weight: bold;
}

.btn-player{
  text-decoration:none;
  position: absolute;
  height: 50px;
  width: 150px;
  margin-left : 80%;
  margin-top : 7%;
  color: lightgoldenrodyellow;
  font-weight: bold;
  text-align: -webkit-center;
  background-color:  #687f91;
  border-style: ridge;
  border-color: #00008B;
  border-radius: 20%;
}

.btn-again{
  text-decoration:none;
  position: absolute;
  display: none;
  height: 80px;
  width: 200px;
  margin-left : 10%;
  margin-top : 20%;
  color: lightgoldenrodyellow;
  font-weight: bold;
  text-align: -webkit-center;
  background-color:  #687f91;
  border-style: ridge;
  border-color: #00008B;
  border-radius: 50%;
}

.btn-next{
  text-decoration:none;
  position: absolute;
  display: none;
  height: 80px;
  width: 200px;
  margin-left : 80%;
  margin-top : 20%;
  color: lightgoldenrodyellow;
  font-weight: bold;
  text-align: -webkit-center;
  background-color:  #687f91;
  border-style: ridge;
  border-color: #00008B;
  border-radius: 50%;
}

.btn-again a, .btn-next a, .btn-player a{
  text-decoration: none;
}


@media (min-width:320px ) {
.btn-player{
  margin-left : 100%;
  margin-top : 205%;
}
.btn-again{
  margin-left : 35%;
  margin-top : 200%;
}
.btn-next{
  margin-left : 150%;
  margin-top : 200%;
}
#canvas{
  margin-top: 0%;
}
#score{
  margin-left: 110%;
  margin-top: 6%;
}
#noLife{
  margin-left: 35%;
  margin-top: 6%;
}
#monsterLife{
  margin-left: 170%;
  margin-top: -2%;
}

}

@media (min-width:400px ) {
.btn-player{
  margin-left : 90%;
  margin-top : 150%;
}
.btn-again{
  margin-left : 30%;
  margin-top : 145%;
}
.btn-next{
  margin-left : 140%;
  margin-top : 145%;
}
#canvas{
  margin-top: 0%;
}
#score{
  margin-left: 80%;
  margin-top: 2%;
}
#noLife{
  margin-left: 25%;
  margin-top: 2%;
}
#monsterLife{
  margin-left: 130%;
  margin-top: -0.5%;
}

}

@media (min-width:500px ) {
.btn-player{
  margin-left : 80%;
  margin-top : 125%;
}
.btn-again{
  margin-left : 30%;
  margin-top : 120%;
}
.btn-next{
  margin-left : 120%;
  margin-top : 120%;
}
#canvas{
  margin-top: 0%;
}
#score{
  margin-left: 70%;
  margin-top: 4%;
}
#noLife{
  margin-left: 25%;
  margin-top: 4%;
}
#monsterLife{
  margin-left: 110%;
  margin-top: -1%;
}

}

@media (min-width:600px ) {
.btn-again{
  margin-left : 30%;
  margin-top : 100%;
}
.btn-player{
  margin-left : 70%;
  margin-top : 102%;
}
.btn-next{
  margin-left : 100%;
  margin-top : 100%;
}
#canvas{
  margin-top: 0%;
}
#noLife{
  margin-left: 25%;
  margin-top: 2%;
}
#score{
  margin-left: 70%;
  margin-top: 2%;
}
#monsterLife{
  margin-left: 110%;
  margin-top: -1%;
}
}

@media (min-width:700px ) {
.btn-again{
  margin-left : 30%;
  margin-top : 90%;
}
.btn-player{
  margin-left : 70%;
  margin-top : 92%;
}
.btn-next{
  margin-left : 100%;
  margin-top : 90%;
}
#canvas{
  margin-top: 0%;
}
#noLife{
  margin-left: 25%;
  margin-top: 2%;
}
#score{
  margin-left: 60%;
  margin-top: 2%;
}
#monsterLife{
  margin-left: 90%;
  margin-top: -1%;
}
}
@media (min-width:800px ) {
.btn-again{
  margin-left : 20%;
  margin-top : 80%;
}
.btn-player{
  margin-left : 55%;
  margin-top : 82%;
}
.btn-next{
  margin-left : 80%;
  margin-top : 80%;
}
#canvas{
  margin-top: 0%;
}
#noLife{
  margin-left: 25%;
  margin-top: 2%;
}
#score{
  margin-left: 60%;
  margin-top: 2%;
}
#monsterLife{
  margin-left: 90%;
  margin-top: -1%;
}
}

@media (min-width:900px ) {
.btn-again{
  margin-left : 20%;
  margin-top : 75%;
}
.btn-player{
  margin-left : 50%;
  margin-top : 77%;
}
.btn-next{
  margin-left : 75%;
  margin-top : 75%;
}
#canvas{
  margin-top: 0%;
}
#noLife{
  margin-left: 25%;
  margin-top: 2%;
}
#score{
  margin-left: 50%;
  margin-top: 2%;
}
#monsterLife{
  margin-left: 75%;
  margin-top: -1%;
}
}
@media (min-width:1000px ) {
.btn-again{
  margin-left : 20%;
  margin-top : 64%;
}
.btn-player{
  margin-left : 50%;
  margin-top : 65%;
}
.btn-next{
  margin-left : 75%;
  margin-top : 64%;
}
#canvas{
  margin-top: 0%;
}
#noLife{
  margin-left: 25%;
  margin-top: 2%;
}
#score{
  margin-left: 50%;
  margin-top: 2%;
}
#monsterLife{
  margin-left: 75%;
  margin-top: -1%;
}
}

@media (min-width:1100px ) {
.btn-again{
  margin-left : 20%;
  margin-top : 59%;
}
.btn-player{
  margin-left : 50%;
  margin-top : 61%;
}
.btn-next{
  margin-left : 75%;
  margin-top : 59%;
}
#noLife{
  margin-left: 25%;
  margin-top: 2%;
}
#score{
  margin-left: 50%;
  margin-top: 2%;
}
#monsterLife{
  margin-left: 75%;
  margin-top: -1%;
}
}

@media (min-width:1200px ) {
.btn-again{
  margin-left : 20%;
  margin-top : 54%;
}
.btn-player{
  margin-left : 45%;
  margin-top : 56%;
}
#canvas{
  margin-left: 0%;
}
.btn-next{
  margin-left : 65%;
  margin-top : 54%;
}
#noLife{
  margin-left: 25%;
  margin-top: 1%;
}
#score{
  margin-left: 50%;
  margin-top: 1%;
}
#monsterLife{
  margin-left: 75%;
  margin-top: -1%;
}
}

@media (min-width:1300px ) {
.btn-again{
  margin-left : 20%;
  margin-top : 50%;
}
.btn-player{
  margin-left : 45%;
  margin-top : 51%;
}
.btn-next{
  margin-left : 65%;
  margin-top : 50%;
}
#noLife{
  margin-left: 25%;
  margin-top: 1%;
}
#score{
  margin-left: 50%;
  margin-top: 1%;
}
#monsterLife{
  margin-left: 75%;
  margin-top: -1%;
}
}

@media (min-width:1400px ) {
.btn-again{
  margin-left : 20%;
  margin-top : 46%;
}
.btn-player{
  margin-left : 45%;
  margin-top : 47%;
}
.btn-next{
  margin-left : 65%;
  margin-top : 46%;
}
#noLife{
  margin-left: 25%;
  margin-top: 1%;
}
#score{
  margin-left: 50%;
  margin-top: 1%;
}
#monsterLife{
  margin-left: 75%;
  margin-top: -1%;
}
}

@media (min-width:1500px ) {
.btn-player{
  margin-left : 80%;
  margin-top : 11%;
}
.btn-again{
  margin-left : 10%;
  margin-top : 20%;
}
.btn-next{
  margin-left : 80%;
  margin-top : 20%;
}
#canvas{
  top: 25%;
  left: 32%;
}

}

@media (min-width:1800px ) {
.btn-player{
  margin-left : 80%;
  margin-top : 7%;
}
.btn-again{
  margin-left : 10%;
  margin-top : 20%;
}
.btn-next{
  margin-left : 80%;
  margin-top : 20%;
}
#canvas{
  top: 25%;
  left: 32%;
}
#score{
  margin-left: 52%;
  margin-top: 1%;
}
#noLife{
  margin-left: 37%;
  margin-top: 1%;
}
#monsterLife{
  margin-left: 65%;
  margin-top: -0.5%;
}
}